
    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="min-height:80vh">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Valueset</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            
            <div class="row" >
              <div class="col-sm-6"><app-form-field  heading="Valueset name" formControlName="valuesetName"class="form-control" id="code_exec" name="code_exec" ></app-form-field></div>
            </div>
            
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "closeModal();">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content" style="min-height:80vh">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Valueset Value</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="valuesetForm" (ngSubmit)="onSubmit()">
          
          <div class="row">
            <div class="col-sm-6">
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="name" formControlName="name" class="form-control">
            </div>
            <button type="button" (click)="addValuename()" class="btn btn-primary">Add More</button>
            <div *ngFor="let valuename of valuenames().controls; let i=index" [formGroupName]="i">
              <div>
              <label for="name"class="col-sm-6">Value:</label>
              <input type="text" id="val" name="val" formControlName="val" class="form-control">
              </div>
          </div>
        </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "closeModal();">Close</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="min-height:80vh">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-sm-6"><app-form-field  heading="Message name"></app-form-field></div>
          <div class="col-sm-6"><app-form-field  heading="Application shortname"></app-form-field></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "closeModal();">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  
<div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="min-height:80vh">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Responsibility</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-sm-6"><app-form-field  heading="Responsibility_Key name"></app-form-field></div>
          <div class="col-sm-6"><app-form-field  heading="Application shortname"></app-form-field></div>
          <div class="col-sm-6"><app-form-field  heading="Request group name"></app-form-field></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "closeModal();">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="min-height:80vh">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-sm-6"><app-form-field  heading="System profile name"></app-form-field></div>
          <div class="col-sm-6"><app-form-field  heading="Application shortname"></app-form-field></div>
          <div class="col-sm-6"><label for="log_track">Track *</label>
            
            <select name="level" class="custom-select" ng-switch="level">
              <option selected value="1" disabled>Select Level Name</option>
              <option value="Site">Site</option>
              <option value="App">App</option>
              <option value="Resp">Resp</option>
            </select>

            <div ng-switch="level">
              <div ng-switch-when="Site">
                <div class="col-sm-6"><app-form-field  heading="SITE KA OP"></app-form-field></div>
              </div>
              <div ng-switch-when="App">
                <div class="col-sm-6"><app-form-field  heading="APP KA OP"></app-form-field></div>
              </div>
              <div ng-switch-when="Resp">
                <div class="col-sm-6"><app-form-field  heading="System profile name"></app-form-field></div>
              </div>
              
            </div>
          
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "closeModal();">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

