<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Click me </button>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" >
      <div class="modal-content" style="min-height:80vh">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <nav class="nav flex-column">
            AOL Component 
            <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" data-toggle="modal" data-target="#modal1">Valueset</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modal2">Valueset Value</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modal3">Message</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modal4">Responsibility</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modal5">Profile</a>
            </div>
          </div>
          </nav>
          </nav>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "closeModal();">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      </div>
    </div>

    <app-modal-form title="Something goes here"></app-modal-form>
  
