<div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Valueset Value</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form role="form" [formGroup]="valuesetValueForm">
            <div class="row">
              <div class="col-sm-6">
                  <label for="">Valueset name</label>
                  <input class="form-control" placeholder="Username"formControlName="valuesetName">
              </div>
              <div class="col-sm-6">
                  <label for="">value</label>
                  <div *ngFor="let value of values().controls; let i=index">
                    <input  class="form-control" placeholder="Username" formControlName="value">
                </div>
                <button type="button" class="btn btn-outline-primary" (click)="addValues()"><i class="fa fa-plus"></i></button>
                  <button type="button" class="btn btn-outline-primary" (click)="removeValues(values().length-1)"><i class="fa fa-trash"></i></button>
                  
              </div>
              {{checkForm}}
          </div>
          </form>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
