<div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form [formGroup]="profileForm" >
             <div class="row">
               <div class="col-sm-6">
                 <label>System Profile Name</label>
                 <input class="form-control" placeholder="Username"formControlName="profileName">
               </div>
               <div class="col-sm-6">
                 <label for="">Application Shortname</label>
                 <input class="form-control" placeholder="Username"formControlName="applicationShortname">
               </div>
               <div class="col-sm-6">
                 <label>Level Name</label>
                 <select name="log_track" class="custom-select" formControlName="levelName" required>
                   <option selected value="Site">Site</option>
                   <option value="App">App</option>
                   <option value="Resp">Resp</option>
                 </select>
               </div>
               <div class="col-sm-6" *ngIf="profileForm.value.levelName!==''">
                 <label>{{labelName[profileForm.value.levelName]}}</label>
                 <input class="form-control" placeholder="Username" formControlName="prof" *ngIf="profileForm.value.levelName=='Site'">
                 <input class="form-control" placeholder="Username" formControlName="appShortName" *ngIf="profileForm.value.levelName=='App'">
                 <input class="form-control" placeholder="Username" formControlName="respName" *ngIf="profileForm.value.levelName=='Resp'">
               </div>



             </div>
           </form>
          {{checkForm}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
