<div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <label for="">System Profile Name</label>
                    <input class="form-control" placeholder="Username"formControlName="proName">
                </div>
                <div class="col-sm-6">
                    <label for="">Application Shortname</label>
                    <input class="form-control" placeholder="Username"formControlName="appName">
                </div>
                <div class="col-sm-6">
                    <label for="log_track">Level Name</label>
                    <select name="log_track" class="custom-select" formControlName="log_track" required>
                      <option selected value="1" disabled>Select Track</option>
                      <option value="Site">Site</option>
                      <option value="App">App</option>
                      <option value="Resp">Resp</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label for="">_change_</label>
                    <input class="form-control" placeholder="Username">
                </div>

    
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
